<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Profile</title>
<link href="editProfile.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1>kodBook</h1>
		<h3>Update Your Profile!</h3>
		
		<form action="/updateProfile" method="post"
			enctype="multipart/form-data">

			<label>DOB:</label> <input type="text" name="dob"> <label>GENDER:</label>
			M<input type="radio" name="gender" value="M"> F<input
				type="radio" name="gender" value="F"> O<input type="radio"
				name="gender" value="O"> <label>CITY:</label> <input
				type="text" name="city"> <label>BIO:</label> <input
				type="text" name="bio"> <label>COLLEGE:</label> <input
				type="text" name="college"> <label>LINKEDIN:</label> <input
				type="text" name="linkedIn"> <label>GIT HUB:</label> <input
				type="text" name="gitHub"> <input type="file"
				name="profilePic" accept="image/*"> <br> <input
				type="submit" value="Update Profile">
		

		</form>
	</div>

</body>
</html>