<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>kodBook signUp</title>
<link href="signUp.css" rel="stylesheet">
</head>
<body>
    <h1>kodBook</h1>
	<h3>Create account on #1 Social media app!</h3>
	<hr>
	<form action="/signUp" method="post">
	     <label>USER NAME:</label>
	     <input type="text" name="username">
	     
	     <label>EMAIL:</label>
	     <input type="email" name="email">
	     
	     <label>PASSWORD:</label>
	     <input type="password" name="password">
	     
	     <label>DOB:</label>
	     <input type="date" name="dob">
	     
	     <label>GENDER:</label>
	     M<input type="radio" name="gender" value="M">
	     F<input type="radio" name="gender" value="F">
	     O<input type="radio" name="gender" value="O">
	   
	     <input type="submit" value="SIGN UP">
	     <hr>
	     
	     <a href="/">Already have account? Login instead</a>
	</form>
</body>
</html>